.weather {
	padding: 2em;
	width: 100%;
	height: calc(100vh - 230px);
	position: relative;
	color: var(--text-color);
}

.weather__container {
	max-width: 500px;
	display: block;
	margin: 5em auto;
	padding: 1.5em;
	border: 3px solid var(--text-color-greylish);
	background-color: var(--element-color);
	border-radius: 20px;
}

.weather__box {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.weather__header {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 65px 45px;
	height: 110px;
}

.weather__box-label {
	grid-row: 1/1;
	grid-column: 1/1;
	margin-left: 0.5em;
	font-size: 2.8em;
	line-height: 65px;
	font-weight: bold;
}

.weather__box-img {
	grid-row: 1/1;
	grid-column: 2/3;
	width: 65px;
	margin-left: auto;
}

.weather__box-input {
	grid-row: 2/3;
	grid-column: 1/3;
	width: 100%;
	padding: 0.5em;
	margin: 0.4em 0;
	font-size: 1.4em;
	border-radius: 8px;
	border: 2px solid var(--edit-color);
}

.weather__box-timer {
	display: none;
	font-size: 7em;
	position: absolute;
	bottom: -25%;
	left: 15%;
}

.weather__data {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr), 2fr;
	gap: 1em;
	height: 100%;
	margin-top: 2em;
}

.weather__data-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.7em;
	background-color: var(--primary-color);
	border-radius: 8px;
	border: 1px solid var(--highlight-color);
	text-align: center;
}

.weather__data-item--wind {
	grid-column: 1/3;
	grid-row: 4/5;
}

.weather__data-title {
	margin-bottom: 0.2em;
	font-size: 1.4em;
	color: var(--text-color-greylish);
}

.weather__data-info {
	font-size: 1.6em;
	font-weight: bold;
}

.weather__data-info-arrow {
	font-size: 2.5em;
	margin-bottom: 0.2em;
}

@keyframes movingSun {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
