@import '_variables.css';
@import '_todo.css';
@import '_notes.css';
@import '_finances.css';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app__title {
	margin-top: 0.6em;
	font-size: 2.4em;
	color: var(--highlight-color);
}

.app__line {
	margin-top: 0.3em;
	height: 2px;
	width: 100%;
	max-width: 100px;
	background-color: var(--highlight-color);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--primary-color);
}

/* HEADER */

.header {
	width: 100%;
	background-color: var(--primary-color);
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1280px;
	padding: 2em;
	margin: 0 auto;
}

.header__container--logo {
	display: flex;
	align-items: center;
}

.header__container--logo-icon {
	font-size: 3em;
	color: var(--text-color);
}

.header__container--logo-text {
	margin-left: 1em;
	font-size: 2.4rem;
	color: var(--text-color);
	font-weight: bold;
	letter-spacing: 1px;
}

.header__container--theme {
	position: relative;
	width: 75px;
	height: 32px;
	border-radius: 25px;
	background-color: var(--primary-color);
	border: 3px solid var(--text-color);
	cursor: pointer;
}

.header__container--theme-slider {
	position: absolute;
	top: 0;
	left: 2px;
	width: 24px;
	height: 24px;
	padding: 1em;
	background-color: rgb(252, 248, 6);
	border-radius: 50%;
	transition: transform 0.3s, background-color 0.3s;
}

.header__container--theme-slider.active {
	transform: translateX(38px);
	background-color: rgb(9, 9, 17);
}

/* NAV */

.nav {
	width: 100%;
	background-color: Var(--element-color);
}

.nav__title {
	padding-top: 0.3em;
	font-size: 3em;
	color: var(--text-color);
	letter-spacing: 2px;
	text-align: center;
}

.nav__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1280px;
	padding: 2em;
	margin: 0 auto;
}

.nav__container--item {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 18%;
	height: 55px;
	padding: 0.7em 1.4em;
	background-color: transparent;
	border: 3px solid var(--text-color);
	border-radius: 20px;
	cursor: pointer;
	color: var(--text-color);
	transition: background-color 0.3s;
}

.nav__container--item:hover {
	background-color: var(--primary-color);
}

.nav__container--item-icon {
	font-size: 2em;
}

.nav__container--item-text {
	display: none;
	margin-left: 0.4em;
	font-size: 1.6rem;
	font-weight: bold;
}

.nav__container--item-selected {
	border: 3px solid var(--highlight-color);
	color: var(--highlight-color);
	background-color: var(--primary-color);
}

.main {
	display: flex;
	width: 100%;
	background-color: var(--primary-color);
}

.active-app {
	opacity: 1;
	transform: translateX(0);
	animation: activeSection 1s forwards cubic-bezier(0.222, 0.72, 0.555, 1.175);
}

.hidden-app {
	opacity: 0;
	display: none;
	transform: translateY(15%);
}

.cookies {
	position: fixed;
	top: calc(100vh - 230px);
	left: 0;
	right: 0;
	height: 230px;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--element-color);
	color: var(--text-color);
	z-index: 10;
	padding: 2em;
}

.cookies.hide {
	animation: hideCookies 2s forwards;
}

.cookies__icon {
	position: absolute;
	top: -35px;
	right: 10%;
	font-size: 6em;
	color: var(--highlight-color);
}

.cookies__title {
	font-size: 2em;
	font-weight: bold;
}

.cookies__info {
	margin: 1em 0;
	font-size: 1.2em;
}

.cookies__btns {
	width: 100%;
	max-width: 700px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cookies__btns button {
	margin-top: 2em;
	width: 45%;
	padding: 0.6em 1em;
	background-color: transparent;
	border: 3px solid var(--highlight-color);
	color: var(--text-color);
	font-weight: bold;
	font-size: 1.4em;
	letter-spacing: 1px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.cookies__btns button:hover {
	background-color: var(--element-color);
}

/* ANIMATIONS */

@keyframes activeSection {
	from {
		display: none;
		opacity: 0;
		transform: translateY(15%);
	}
	to {
		display: flex;
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes hideCookies {
	from {
		display: flex;
		opacity: 1;
		transform: translateX(0);
	}
	to {
		display: none;
		opacity: 0;
		transform: translateY(100%);
	}
}

/* QUERIES */

@media (min-width: 992px) {
	.nav__title {
		font-size: 4em;
	}

	.nav__container--item-text {
		display: flex;
	}
}

@media (min-width: 1100px) {
	.note__list {
		margin-top: 1em;
		padding: 1.5em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4em 2em;
		align-items: start;
		justify-items: center;
	}

	.note__body {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		max-height: 500px;
		height: 100%;
	}

	.note__body--title {
		width: 100%;
		font-size: 2em;
	}

	.note__body--content {
		height: 75%;
		font-size: 1.5em;
		overflow: auto;
	}

	.note__body--tools {
		margin-bottom: 2em;
	}

	.note__body--edit,
	.note__body--delete {
		font-size: 1.6em;
	}

	.note__box {
		border: 1px solid var(--highlight-color);
		border-radius: 20px;
	}

	.note__box--heading {
		font-size: 2.4em;
	}

	.note__box--label-title,
	.note__box--label-content {
		margin: 1em 0;
		font-size: 1.6em;
	}

	.note__box--title--error,
	.note__box--content--error {
		margin-top: 0.8em;
		font-size: 1.4em;
	}

	.note__box--textarea-content {
		min-height: 100px;
		max-height: 400px;
	}

	.note__box--buttons {
		margin-top: 2em;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.note__box--buttons-add,
	.note__box--buttons-clear,
	.note__box--buttons-deleteall,
	.note__box--buttons-edit,
	.note__box--buttons-cancel {
		font-size: 1.6em;
		width: 30%;
		max-width: 350px;
		padding: 1em 2em;
	}

	.note__box--buttons-deleteall {
		margin-top: 0;
	}
}
